/* Used for any variables */
:root {

}

/* Resteting margin and padding for display */
* {
    margin: 0;
    padding: 0;
}

/* Setting the default to box-sizing for ease of sizing.
 * Also setting the font size to allow for the use of easy rem calculation.
 * EX: 1rem = 10px, 1.8rem = 18px.
 */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Work for the top Nav bar */
.nav {
    display: flex;
}

#nav-list {
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
    height: 4.rem;
    background-color: red;
    list-style: none;


}

#nav-list a {
    font-size: 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

#nav-list a:hover {
    background-color: purple;
}

/* Working on the welcome page.
 * This is everything that is visible when opening the site
 (Except for the nav bar)
 */

#welcome-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10rem;
    background-color: purple;
    height: 100vh;
}

h1 {
    font-size: 5rem;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    background-color: purple;
    height: 50rem;
}

#name > p{
    font-size: 3rem;
}

#image > img{
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: red;
    object-fit: cover;
    border-radius: 50%;
}

/* This begins the work for the projects section */

#projects {
    height: 40rem;
    background-color: blue;
    height: 100rem

}

#projects-header {
    text-align: center;
    font-size: 5rem;
    color: white;
    padding: 2rem 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-bottom: 0.4rem solid red;
}

/* .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: minmax(200px, auto);
    justify-content: center;
    gap: 10px;
    height: auto;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-left: 2rem;
    padding: 10rem 2rem;
} */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: minmax(200px, auto);
    gap: 10px;
    height: auto;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; /* centers the grid on the page */
    padding: 2rem;
}

.project-picture, .project-link {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 32rem;
    overflow: hidden;
    object-fit: cover;
    background-color: purple;
}

.project-link {
    margin-top: 3rem;
    border-radius: 10%;
}


.project-picture {
    height: 100%;
    width: 100%;
}

.project-title {
    text-align: center;
    background-color: purple;
    font-size: 30px;
    color: red;

}